<p class="fields">
  <%= f.label :mobile_number %><br />
  <%= f.text_field :mobile_number %><br />
  <%= f.check_box :primary_number %>
  <%= f.label "Primary Phone number" %><br />
  <%= link_to_remove_fields "Remove Phone number", f %>
</p>