<h1>Listing Contact Details</h1>
<%= link_to 'New Contact Detail', new_contact_detail_path %>
<br><br>
<style>
  table {
      border-collapse: collapse;
  }

  table, td, th {
      border: 1px solid black;
  }
</style>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th colspan="3"></th>
  </tr>
 
  <% @contact_details.each do |contact_detail| %>
    <tr>
      <td><%= contact_detail.name %></td>
      <td><%= contact_detail.email %></td>
      <td><%= link_to 'Show', contact_detail_path(contact_detail) %></td>
      <td><%= link_to 'Edit', edit_contact_detail_path(contact_detail) %></td>
      <td><%= link_to 'Destroy', contact_detail_path(contact_detail),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
